.header {
    overflow: hidden;
    background-color: lightgray;
    border: 1px solid;
    box-shadow: 2px 2px #888888;
    padding: 1px 4px;
  }
  
  .header a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 2px 4px;
  }
  
  .header a.right {
    float: right;
  }
  
  .header a:hover {
    background-color: rgb(79, 83, 87);
    border: 1px solid;
    cursor: pointer;
    color: white;
  }

.topBar {
    height: 20px;
    background-color: darkBlue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, darkBlue , lightGrey);
    color: white;
}

a {
  color: blue;
}

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
}

#context-menu.visible {
  display: block;
}
